:root
{
    --color-primary: #0063B2FF;
    --color-secondary: #9CC3D5FF;
    --color-primary-light: #DFF7F7;
    --color-primary-dark: #1976D2;
    --color-accent: #1976D2;
    --color-primary-text: #000000;
    --color-secondary-text: #757575;
    --font-primary: 'Poppins', sans-serif;


    --about-us-color-primary: #689EB8;
    --about-us-color-seconday: #F3F4F6;

    --contact-us-color-primary:#689EB8;
    --contact-us-color-secondary: #F3F4F6;

}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    color: #000000;
    font-family: var(--font-primary);
}

.heading-center-main
{
    text-align: center;
    font-size: 3.5rem;
}

.heading-center-sub
{
    text-align: center;
    font-size: 2rem;
}

.paragraph-medium
{
    text-align: center;
    font-size: 1.3rem;
}






/* Navbar */

#brand
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
    padding: 0.25rem;
}

#brand h3
{
    margin: 0px;
    padding: 0.2rem;
}

.icon {
    background: url('./Assests/images/icon.png') center center/cover;
    height: 2rem;
    width: 2rem;
    display: block;
}
#navbar
{
    display: flex;
    background-color: #142E54;
    position: sticky;
    color: #C2CCC5;
    justify-content: space-between; 
    z-index: 1;
}

#nav-links
{
    display: flex;
    align-items: center;
    margin: 0.1rem;
    padding: 0.25rem;
}

.nav-link
{
    list-style: none;
}

.nav-link a
{
    color: #C2CCC5;
    text-decoration: none;
    padding: 0.5rem;

}

.nav-link a:hover
{
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    text-decoration: none;
    border-radius: 3px;
}


/* Navbar Over */



#cover
{
    background: var(--color-primary-light) url(./Assests/images/cover1.png) no-repeat center center/cover;
    height: 100vh;
    margin-bottom: 0;
}

#cover div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}
#cover div h1
{
    font-size: 10rem;
}
#cover div p
{
    font-size: 2.5rem;
}


/* Cover Ended */


#application
{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#application img
{
    padding: 0rem 2rem 0rem 2rem;
}

.text-content
{
    text-align: center;
}

#application div
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 1rem 5rem 0rem 5rem;
    
}

#application div h1
{
    font-size: 4rem;
}



/* About Us */

#AboutUs
{
    margin: 0px;
    color: var(--about-us-color-seconday);
    background-color: var(--about-us-color-primary);
}


#AboutUs-Content
{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
#AboutUs-Content div
{
    padding: 4rem 0rem 0rem 4rem;
    width: 500px;
}


.profile-image
{
    height: 15rem;
    width: 15rem;
    /* border-radius: 150px; */
}

#AboutUs-Team
{
    display: flex;
    flex-direction: column;
}


#AboutUs-Team-Profiles
{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.AboutUs-Team-Profiles-Profile
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 300px;
    background-color: #B4B4B4;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px rgb(115, 135, 151);
}


/* About Us Ended */


#contact-us
{
    color: var(--contact-us-color-secondary);
    display: flex;
    flex-direction: column;
    padding: 4rem 0 4rem 0;
    background-color: var(--contact-us-color-primary);
}

#contact-us-content
{
    display: flex;
    padding: 2rem 0 2rem 0;
    flex-wrap: wrap;
}

#contact-address, #contact-form, #contact-map
{
    flex: 1;
}

#contact-address
{
    padding-top: 2rem;
}


#contact-form, #contact-address
{
    padding: 0 1rem 0 1rem;
}


#contact-form button
{
    width: 100%;
    color: var(--contact-us-color-primary);
    background-color: var(--about-us-color-seconday);
}

#contact-form div div span
{
    color: var(--contact-us-color-primary);
    background-color: var(--about-us-color-seconday);
}